* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 250px);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.container {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.square {
    background-color: lightcoral;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: move;
}