* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    gap: 20px;
    width: min-content;
    justify-content: center;
}

.flex-item {
    background-color: rebeccapurple;
    width: 400px;
}