* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 800px;
    border: red solid 1px;


    .left {
        border: green solid 1px;
        width: 300px;
        height: 100px;
        float: left;
        margin: 20px;
    }

    
}